spring:
  datasource:
    url: jdbc:mysql://localhost:3306/librarymanagement
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  secret: Ab2fkadio$qijedv942HSSkd*e4ad3$3
  expiration: 3600000